@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;700&display=swap');
/* font-family: 'IBM Plex Sans Condensed', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/halftone-yellow.png');
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3em;
    place-items: center;
}

h1 {
    margin: 0;
}

code {
    background: rgba(14, 13, 13, 0.15);
    padding: .1em .2em;
    border-radius: .1em;
}

/* p1 - basics */
/* .box {
    background: white;
    padding: 2em;
     color: blue; 
     border: 5px solid currentcolor; 
     box-shadow: 0 0 20px 0px rgba(0, 0, 0, .5); 
     box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, .5); 
    box-shadow: 100px 100px 200px red,
        100px -100px  200px blue,
        -100px -100px 200px green,
        -100px 100px 200px purple;
} */

/* p2 - make them look good */
.box {
    background: white;
    padding: 2em;
    position: relative;
    width: 70%;
    /* box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25); */
}

.box--lower {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
}

.box--higher {
    box-shadow: 0 15px 60px 0 rgba(0, 0, 0, .5);
}

/*
    Box-shadow accepts between 2 and 6 values.

    inset shadow will be  beyond the top of background-color and under the content.

    drop-shadow has some transparency

    --

    box-shadow should always be subtle
    shadow adding depth to the design
*/