body{
    background-color: lightblue;
    text-align: center;
}
.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    
}

.circle{
    width: 100px;
    padding: 50px 0;
    margin: 100px auto;
    line-height: 0;   
    background-color: pink;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background 1s,transform 1s 1s ease-in;
}
.circle:hover{
    background: salmon;
    transform: rotate(360deg);
}