@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ff581f;
  --secondary-color: #111111;
  --secondary-color-light: #232220;
  --text-light: #a3a3a3;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
}

.section__subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.section__subheader::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  z-index: -1;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.5rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.btn__secondary {
  background-color: transparent;
  border: 1px solid var(--white);
}

.btn__primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn span {
  font-size: 1.2rem;
  transition: 0.3s;
}

.btn:hover span {
  transform: translateX(5px);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  /* color: var(--white); */
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("./assets/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.nav__menu__btn {
  display: none;
  font-size: 1.5rem;
}

.header__container {
  padding-block: 5rem 12rem;
}

.header__container h1{
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    /* line-height: 2.5rem; */

}

.header__container .btn{
    margin: auto;
}

.about{
    background-color: var(--secondary-color);
}

.about__container{
    padding-block: 0;
}

.about__grid{
    padding: 2rem ;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 4rem;
    align-items: center;
    background-color: var(--secondary-color-light);
    transform: translateY(-5rem);
    border-radius: 10px;
    /* transition: transform .5s .5s; */
}

.about__content .section__header{
  margin-bottom: 1rem;
  
}

.about__content .para{
  /* margin-bottom: 1rem; */
  color: var(--text-light);
}

.about__list{
  display: grid;
  /* grid-area:2rem; */
  gap: 2rem;
}

.about__item{
  display: flex;
  align-items: center;
  gap:2rem;
}

.about__item span{
  padding: 13px 20px;
  font-size: 1.75rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.about__item h4{
  font-size: 1.2rem;
  font-weight: 600;
}
